#txtMomento {
    font-size: 30px;
    padding: none;
    margin: 0px;
}

#txtTiempo {
    font-size: 55px;
    padding: none;
    margin: 0px;
}

.container {
    height: 100%;
    background-color: aliceblue;
}

::-webkit-scrollbar {
    display: none;
}

.derecha {
    text-align: right;
}

table {
    width: 100%;
    height: 100%;
    margin: 0;
}